<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      <li>name:<%= typeof name!='undefined'?name:"" %></li>
      <li>age:<%= typeof age!='undefined'?age:"" %></li>
      <li>sex:<%= typeof sex!='undefined'?sex:"" %></li>
      <li>qq:<%= typeof qq!='undefined'?qq:"" %></li>
      <li>num:<%= typeof number!='undefined'?number:"" %></li>
      <h1>info:<%= typeof info!='undefined'?info:"" %></h1>
    </ul>
  </body>
</html>
